
.landing{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url('./img/feedback.jpg');
    background-size: cover;
    height: 100vh;
    color: white;
}