
.landing{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ), url('./img/feedback.jpg');
    background-size: cover;
    height: 100vh;
    color: white;
}
.nav-wrapper{
    background-color: #18837e;
}